p{
	color: #D3D3D3;
	font-family: Times New Roman;
	text-shadow: 1px 1px #111111;
	margin-left: 60px;
	margin-right: 60px;
	text-align: justify;
}
q{
	color: #D3D3D3;
	font-family: Times New Roman;
	font-style: italic;
}
h1{
	text-align: justify;
	color: #D3D3D3;
	font-family: Impact;
	text-shadow: 3px 3px #111111;
}
h3{
	text-align: center;
	color: #D3D3D3;
	font-family: Times New Roman;
	text-shadow: 2px 2px #111111;
}
*{
	margin:0;
	padding: 0;
}
header{
	background-color: #1C1C1C;
	height: 300px;
	border-style: solid;
	border-color: #A9A9A9;
	border-width: 4px;
}
.capa{
	background-image:url("../Img/sekiroRD.jpg");
	position: relative;
	transition: transform.2s;
	height: 250px;
	margin-left: 10px;
	margin-right: 10px;
	border-style: solid;
	border-width: 4px 5px 4px 5px;
	overflow: hidden;
}
.capa:hover{
	-ms-transform: scale(1.25); /* IE 9 */
  	-webkit-transform: scale(1.25); /* Safari 3-8 */
  	transform: scale(1.25); 
}
.textoCapa{
	color: #C0C0C0;
	font-family: Helvetica, Arial;
	text-shadow: 3px 3px #4B0082;
	font-size: 30px;
	margin-left: 80px;
	margin-top: 1px;
}
.botaoHome{
	height:30px;
	width: 40px;
	background-image: url("../Img/homeIcon.png");
	float:right;
	margin-right: 40px;
	margin-top: 4px;
	overflow: hidden;
}
.botaoHome:hover{
	-ms-transform: scale(1.3); /* IE 9 */
  	-webkit-transform: scale(1.3); /* Safari 3-8 */
  	transform: scale(1.3); 
}
.botoesCapa{
	height:30px;
	width: 40px;
	background-image: url("../Img/musicIcon.png");
	float:right;
	margin-right: 20px;
	margin-top: 4px;
	overflow: hidden;
}
.botoesCapa:hover{
	-ms-transform: scale(1.3); /* IE 9 */
  	-webkit-transform: scale(1.3); /* Safari 3-8 */
  	transform: scale(1.3); 
}
.intro{
	height: 1080px;
	background-color:#000000;
	background-image: url("../Img/sekiroCape2.jpg");
}
.img{
	width: 800px;
	margin-left: 40px;
	float: left;
}
.img:hover{
	-ms-transform: scale(1.2); 
  	-webkit-transform: scale(1.2);
  	transform: scale(1.2); 
}
.texto{
	width: 400px;
	margin-right: 660px;
	float: left;
}
.gif{
	float:right;
	margin-right: 80px;
}
footer{
	height: 300px;
	border-style: solid;
	border-color: #40373C;
	border-width: 4px 0px 4px 0px;
	background-image:url("../Img/scroll.jpg");: 
}
.faceIcon{
	position: static;
	height: 128px;
	width: 128px;
	margin-left: 40px;
	float: left;
}
.faceIcon:hover{
	-ms-transform: scale(1.25); /* IE 9 */
  	-webkit-transform: scale(1.25); /* Safari 3-8 */
  	transform: scale(1.25); 
}
button{
	background-color: transparent;
	border: none;
}
.gitIcon{
	position: static;
	height: 128px;
	width: 128px;
	margin-left: 30px;
	float:left;
}
.gitIcon:hover{
	-ms-transform: scale(1.25); /* IE 9 */
  	-webkit-transform: scale(1.25); /* Safari 3-8 */
  	transform: scale(1.25); 
}
.driveIcon{
	position: static;
	height: 128px;
	width: 128px;
	margin-left: 30px;
	float:left;
}
.driveIcon:hover{
	-ms-transform: scale(1.25); /* IE 9 */
  	-webkit-transform: scale(1.25); /* Safari 3-8 */
  	transform: scale(1.25); 
}
.textoFooter{
	position: absolute;
	font-family: Times New Roman;
	font-size: 30px;
	text-shadow: 1px 2px #111111;
	color:#DCDCDC;
	margin-top: 100px;
	margin-left: 700px;
}
